@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');

body, html {
	font-family: 'Open Sans', sans-serif;
	background-color: #111111;
	color: #fff;
    margin: 0;
}
.nodes {
  fill: #000;
  stroke-width: 1.5px;
}

.links {
  stroke: #aaa;
  stroke-width: 2px;
}

.hidden {
    display: none;
}
/*text {
	font-weight: 300;
	color: blue !important;
	font-size: 0.85rem;
}*/

.circle {
    z-index: 1;
}
.t {
	font-size: .85rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}

label {
	color: #fff;
	font-weight: 300;
}

input[type="text"] {
	background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(141, 153, 174, 0.35);
    border: 2px solid #8D99AE;
    outline: 0;
    padding: 6px 13px;
    margin-bottom: 12px;
    margin-left: 3px;
}

.btn {
    margin-top: 15px;
	margin-bottom: 10px;
   /* border: 1px solid #FFF !important;*/
    background-color: black;
    color: #fff !important;
    padding: 10px 44px;
    text-transform: uppercase;
    opacity: 0.9;
    letter-spacing: 0.75px;
    cursor: pointer;
    position: relative;
    font-family: inherit;
}
#container {
    display: inline-block;
    width: 1000px;
/*    var height = 760;*/
}
/*linear-gradient(to right,#1e5799 20%,#6d237c 40%,#bf0489 62%,#bb2145 80%,#f6bd16 100%)*/
#img-container {
    width: 96%;
    margin: 0 auto;
    /*background: -webkit-linear-gradient(left, #1e5799 20%,#6d237c 40%,#bf0489 62%,#bb2145 80%,#f6bd16 100%);
*/

}
.img {
    width: 100%;
    border: 2px solid black;
}
.d {
    text-align: center;
    display: inline-block;
    width: calc(100vw - 1005px);
    height: 100vh;
    background-color: white;
    top: 0 !important;
    vertical-align: top;
}
/*
.button {
	font-size: 14px;
    border-radius: 1.5px !important;
    border-color: transparent;
    border-width: 1px;
    color: #a3a3a3;
    font: inherit;
    justify-content: center;
    padding: 0.4em 2em;
    text-align: center;
    margin-top: 0em;
    margin-left: 3.7em;
}*/